html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

/* #interbody {
    overflow-y: hidden;
} */

#bgimg {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

      -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;  
  pointer-events: none; 
  user-drag: none;

  opacity: .3;
  scale: 1.5;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;

    position: relative;
    z-index: 1;
}

.titlenavbig {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    align-items: center;
    gap: 10%;
    border-top: white 1px solid;
    border-right: white 1px solid;
    width: 100%;
    column-gap: 2.5%;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: red;
    color: white;
    text-decoration: none;
}

.navbar a:visited {
    color: white;
    text-decoration: none;
}

.navbar a:active {
    color: white;
    text-decoration: none;
    background-color: red;
}



h1 {
    font-family: "aglet-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 0;
}

h2 {
    font-family: "aglet-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 0;
    color: #999999;
    padding-left: 5%;
    width: max-content;
}

h3 {
    font-family: "aglet-mono";
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    margin: 0;
}

h4 {
    font-family: "aglet-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin: 0;

    color: #999999;
}

h5 {
    font-family: "aglet-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 0;
    color: red;
    justify-self: flex-end;
    align-self: flex-end;
    padding-left: 43%;
}

h7 {
    font-family: "new-order", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 1em;
    margin: 0;
    color: white;
    padding-left: 5%;
    padding-bottom: 1%;
}

h8 {
    font-family: "new-order", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: .9em;
    margin: 0;
    color: #999999;
    padding-left: 5%;
    white-space: normal;
}

.projects-display h8 {
    white-space: pre;
}

#client {
    font-weight: 500;
}

nav a {
    font-family: "new-order", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* margin-left: 2.5%; */
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1%;
    margin-bottom: .5%;
    border-right: white 1px solid;
}

nav p {
    font-family: "new-order", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2%;
}

#contact {
    border-right: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header p {
    font-family: "new-order", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin-left: 0.5%;
    color: red;
}

.mainh2 {
    font-family: "aglet-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin-top: 2%;
    padding-right: 2%;

    border-right: #999999 2px solid;
}


main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;

    position: relative;
    z-index: 2;
}

.projects-section {
display: grid;
    grid-template-rows: repeat(2);

}

/* For interactive.html (vertical layout) */
.project-entries {
    display: flex;
    flex-direction: row;
    margin-left: 12.5%;
    margin-top: 2.5%;
}

.project-entries a {
    text-decoration: none;
    width: 21%; /* Percentage-based for responsive design */
}

/* For digital.html (horizontal scroll) */
.project-entries-digital {
    display: flex;
    flex-direction: row;
    margin-left: 12.5%;
    margin-top: 2.5%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.project-entries-digital::-webkit-scrollbar {
  display: none;
}

.project-entries-digital a {
    text-decoration: none;
    flex-shrink: 0; /* This is key! */
    width: 300px; /* Fixed width */
}

/* Project entry styling - works for both */
.project-entry {
    border-left: white 1px solid;
    height: 50vh;
    display: flex;
    flex-direction: column;
}



/* .project-entry img {
    margin-top: 25%;
    height: 50%;
    width: auto;
} */

#pic1 {
    background-image: url("images/6.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic1:hover {
    /* background-image: url("images/inter5.jpg");  */

    border-left: red 10px solid;

}

#pic2 {
    background-image: url("images/inter4.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic2:hover {
    /* background-image: url("images/inter3.jpg"); */

    border-left: red 10px solid;
}

#pic3 {
    background-image: url("images/inter7.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic3:hover {
    /* background-image: url("images/inter6.jpg"); */

    border-left: red 10px solid;
}

#pic4 {
    background-image: url("images/inter8.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic4:hover {
    /* background-image: url("images/inter9.jpg"); */

    border-left: red 10px solid;
}

#pic5 {
    background-image: url("images/digi1.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic5:hover {
    /* background-image: url("images/digi2.jpg"); */

    border-left: red 10px solid;
}

#pic6 {
    background-image: url("images/digi3.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic6:hover {
    /* background-image: url("images/digi4.jpg"); */

    border-left: red 10px solid;
}

#pic7 {
    background-image: url("images/digi5.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic7:hover {
    /* background-image: url("images/digi6.jpg"); */

    border-left: red 10px solid;
}

#pic8 {
    background-image: url("images/digi7.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic8:hover {
    /* background-image: url("images/digi8.jpg"); */

    border-left: red 10px solid;
}

#pic9 {
    background-image: url("images/digi10.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic9:hover {
    /* background-image: url("images/digi9.jpg"); */

    border-left: red 10px solid;
}

#pic10 {
    background-image: url("images/digi11.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic10:hover {
    /* background-image: url("images/digi12.jpg"); */

    border-left: red 10px solid;
}

#pic11 {
    background-image: url("images/digi13.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#pic11:hover {
    /* background-image: url("images/digi14.jpg"); */

    border-left: red 10px solid;
}

#last {
    border-right: white 1px solid;

    background-image: url("images/inter11.jpg");
    background-size: contain;
background-repeat: no-repeat;
    background-position: center;
}

#last:hover {

    border-left: red 10px solid;
    /* background-image: url("images/inter10.jpg"); */
}

.projects-display {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 12.5%;

}

.projects-display p {
    font-family: "new-order", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin-left: 5%;
    margin-bottom: 10%;
    width: 20vw;
    padding-left: 5%;
    /* padding-right: 5%; */
}

.backbutton {
    font-family: "aglet-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: white;
    text-decoration: none;

    margin-left: 10%;


    padding: 2%;

    border: white 2px solid;
}

#display1 {
    height: 100vh;
}

#display2 {
    height: 100vh;
}

#display3 {
    height: 100vh;
}

#display4 {
    height: 100vh;
}

#display5 {
    height: 100vh;
    flex-wrap: wrap;
}

#display6 {
    height: 100vh;
}

#display7 {
    height: 100vh;
}

#display8 {
    height: 100vh;
}

#display9 {
    height: 100vh;
}

#display9 img {
    height: 40vh;
    width: auto;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 5%;

    margin-right: 5%;
    margin-bottom: 5%;
}

#display10 {
    height: 100vh;
}

#display11 {
    height: 100vh;
}

#display12 {
    height: 100vh;
}

#display13 {
    height: 100vh;
    flex-wrap: wrap;
}

#video1 {
    height: 60vh;
    width: auto;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#video2 {
    height: 60vh;
    width: auto;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#video3 {
    height: auto;
    width: 40vw;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#video4 {
    height: 55vh;
    width: auto;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#video5 {
    height: 55vh;
    width: auto;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#video6 {
    height: auto;
    width: 30vw;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#video7 {
    height: auto;
    width: 40vw;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#videodiv {
    display: flex;
    flex-direction: column;
    padding-left: 10%;

    justify-self: end;
}

#videodiv video {
    height: 20vh;
    width: auto;
}

#photodiv {
    display: flex;
    flex-direction: row;
    
border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    align-self: flex-start;
    justify-self: center;

    margin: 0;
}

#photodiv img {
    height: 20vh;
    width: auto;    
}

#photodiv2 {
    display: flex;
    flex-direction: row;
flex-wrap: wrap;

width: 28vw;

    padding-top: 2.5%;
    padding-right: 2.5%;

    align-self: flex-start;
    justify-self: center;

    margin-top: 5%;
}

#photodiv3 {
    display: flex;
    flex-direction: row;
    
border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    align-self: flex-start;
    justify-self: center;

    margin: 0;
}

#photodiv3 img {
    height: 20vh;
    width: auto;    
}

#figma1 {
    height: 65vh;
    width: 20vw;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#figma2 {
    height: 65vh;
    width: 40vw;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#figma3 {
    height: 65vh;
    width: 40vw;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#figma4 {
    height: 65vh;
    width: 20vw;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#figma5 {
    height: 65vh;
    width: 40vw;

    border-top: white 1px solid;
    border-right: white 1px solid;

    padding-top: 2.5%;
    padding-right: 2.5%;

    margin-right: 2.5%;
}

#banner {
    width: auto;
    height: 600px;
    position: fixed;
    bottom: 100px;
    left: 0;
    z-index: 0;
}

#footerimg {
    width: auto;
    height: 55vh;
    position: fixed; /* Use fixed instead of sticky for bottom right corner */
    bottom: 0;
    right: 0; /* Changed from right: 50% to right: 0 */
    z-index: 0;

    -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;  
  pointer-events: none; 
  user-drag: none;
}