html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;

    
}

#bgimg {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

      -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;  
  pointer-events: none; 
  user-drag: none;

  opacity: .5;
  scale: 1.5;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;

    position: relative;
    z-index: 1;
}

.titlenavbig {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    align-items: center;
    gap: 10%;
    border-top: white 1px solid;
    border-right: white 1px solid;
    width: 100%;
    column-gap: 2.5%;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: red;
    color: white;
    text-decoration: none;
}

.navbar a:visited {
    color: white;
    text-decoration: none;
}

.navbar a:active {
    color: white;
    text-decoration: none;
    background-color: red;
}



#banner {
    width: auto;
    height: 700px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

main {
    border-top: white 2px solid;
    border-bottom: white 2px solid;

    height: 40vh;
    margin-left: 25%;
    margin-right: 10%;
    margin-top: 8%;

    display: flex;
    flex-direction: row;

    position: relative;
}

#mininav {
    padding-top: 1%;
    padding-right: 1%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

    font-family: "aglet-mono";
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

#mininav a {
    margin-bottom: 12%;
    border-bottom: white 1px solid;
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: right;
}

#mininav a:hover {
    background-color: red;
    color: white;
    text-decoration: none;
}


#mininav a:visited {
    color: white;
    text-decoration: none;
}

#mininav a:active {
    color: white;
    text-decoration: none;
}


#socials {
    width: 5%;
    border-left: white 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#socials div:hover {
    background-color: #999999;
}

#socials div {
    border-top: white 2px solid;
    height: 13%;
}

#socials img {
    width: 70%;
    margin: 15%;
}

#abouttitle {
    width: 20%;
    border-left: white 2px solid;
    padding-left: 1%;
    padding-top: 1%;
}

#abouttitle p {
    font-family: "aglet-mono";
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin: 0;
}

#img1 {
    width: 15%;
    background-image: url(images/profilepic2.jpg);
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 40% bottom;
    border-left: white 2px solid;
}

#img2 {
    width: 15%;
    background-image: url(images/profilepic5.jpg);
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 40% bottom;
    /* border-left: white 2px solid; */

    border-right: white 2px solid;

    mix-blend-mode: screen;
}

#aboutbio {
    width: 40%;
    padding-left: 1%;
    padding-top: 1%;
}

#aboutbio p {
    margin: 0;
    font-family: "new-order", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

h1 {
    font-family: "aglet-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 0;
}

h2 {
    font-family: "aglet-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 0;
    color: #999999;
    padding-left: 5%;
    width: max-content;
}

h3 {
    font-family: "aglet-mono";
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    margin: 0;
}

h4 {
    font-family: "aglet-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin: 0;

    color: #999999;
}

h5 {
    font-family: "aglet-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 0;
    color: red;
    justify-self: flex-end;
    align-self: flex-end;
    padding-left: 43%;
}

nav a {
    font-family: "new-order", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* margin-left: 2.5%; */
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1%;
    margin-bottom: .5%;
    border-right: white 1px solid;
}

nav p {
    font-family: "new-order", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2%;
}

#contact {
    border-right: none;
}

#footerimg {
    width: auto;
    height: 65%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;

    -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;  
  pointer-events: none; 
  user-drag: none;
}